
<form action="/submit" method="POST" enctype="multipart/form-data">
    <h1><label for="file"> Upload your file: </label></h1>
    <input type="file" name="textfile"/>
    <br>
    <br>
    <input type="submit" value="Upload" />

    {%if upload%}
    <h5>{{upload}}</h5>
    {% endif %}
    </form>
    <form action="/api" method="POST" enctype="multipart/form-data">
        <a href="{{url_for(('api_page'))}}"> click for api data</a>
    </form>

<form action='/scrape' method="POST" enctype="multipart/form-data">
    <h1><label for="submit"> Scrapper </label></h1>
    <input type="submit" value="Scrape" />
    </form>

<form action='/download' method="POST" enctype="multipart/form-data">
    <h1><label for="download"> Download</label></h1>
    <input type="submit" value="download" />
    </form>
